<% @cart.cart_items.each do |item|%>
  <% product = item.product %>
  <div id="<%= "cart-#{product.id}" %>">
    <div class="flex justify-between mr-5">
      <div class="flex-col p-4">
        <h1 class="text-lg font-bold">
          <%= product.name %>
        </h1>
        <h2 class="font-semibold text-gray-500">
          Rp.<%= product.price %>
        </h2>
        <%= form_with(url: cart_add_path) do |f| %>
          <%= f.hidden_field :id, value: product.id%>
          <%= f.number_field :quantity, value: item.quantity, min: 0 %>
          <%= f.submit "Add to cart" %>
        <% end %>
      </div>
        <%= form_with(url: cart_remove_path) do |f| %>
          <%= f.hidden_field :id, value: item.id %>
          <%= f.submit "X" %>
        <% end %>
    </div>
  </div>
<% end %>
