<%= turbo_frame_tag "cart" do %>
  <div class="mx-auto max-w-screen-md px-4 py-8 sm:px-6 sm:scroll-py-12 lg:px-8">
    <div class="mx-auto max-w-3xl">
      <h3 class="text-center font-bold text-lg text-gray-600 mb-5">Current Order</h3>
      <% if @cart.cart_items.count > 0 %>
        <%= render "cart/cart_item" %>
        <div class="flex justify-between">
          <h2 class="text-lg font-bold text-gray-900">Total :</h2>
          <h3 class="text-lg font-bold text-gray-900">
            <%= number_to_currency(@cart.total_amount, :unit => "Rp ", :separator => ".", :delimiter => ",", :precision => 0) %>
          </h3>
        </div>
        <div class="flex justify-end">
          <%= form_with(url: orders_path, method: "post") do |form| %>
            <%= form.hidden_field :total_amount, value: @cart.total_amount %>
            <%= form.submit "Proccess Order", class: "group relative inline-flex items-center overflow-hidden rounded bg-indigo-600 px-8 py-3 text-white focus:outline-none focus:ring active:bg-indigo-500" %>
          <% end %>
        </div>
      <% else %>
        <p>Your cart is empty</p>
      <% end %>
    </div>
  </div>
<% end %>
