<div id="<%= dom_id product %>" class="group relative block overflow-hidden border border-gray-100 bg-white">
  <div class="relative border-t rounded-lg border-b border-gray-100 p-6 col-span-1 sm:col-span-1">
    <h3 class="mt-4 text-lg font-medium text-gray-900"><%= product.name %></h3>
    <p class="mt-1.5 text-sm text-gray-700"><%= number_to_currency(product.price, :unit => "Rp ", :separator => ".", :delimiter => ",", :precision => 0) %></p>
    <%= form_with(url: cart_add_path, class: "mt-4")  do |f| %>
      <%= f.hidden_field :id, value: product.id %>
      <%= f.hidden_field :quantity, value: 1, min: 0, class: " h-8 w-12 rounded border-gray-200 bg-gray-50 p-0 text-center text-xs text-gray-600 [-moz-appearance:_textfield] focus:outline-none [&::-webkit-inner-spin-button]:m-0 [&::-webkit-inner-spin-button]:appearance-none [&::-webkit-outer-spin-button]:m-0 [&::-webkit-outer-spin-button]:appearance-none" %>
      <%= f.submit "Add", class: "block w-full cursor-pointer rounded bg-gray-600 text-white p-4 text-sm font-medium transition hover:scale-105" %>
    <% end %>
  </div>
</div>
