<!DOCTYPE html>
<html>
  <head>
    <title>Inventory</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main class="mx-auto mt-28 px-5">
      <div class="grid grid-cols-1 gap-4 lg:grid-cols-[120px_1fr] lg:gap-8">
        <div class="h-32 rounded-lg ">
          <%= render partial: "shared/navbar" %>
        </div>
        <div class="h-32 rounded-lg ">
          <%= yield %>
        </div>
      </div>
    </div>
  </main>
</body>
</html>
